body, html {
  background-color:black;
  /*overflow: hidden;*/
  margin: 0px;
  font-family: helvetica, arial;
  color: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#info {
  color: white;
  position: absolute;
  padding: 15px;
  left: 25px;
  top: 25px;
  z-index: 1;
}

#msg {
  font: 40px helvetica, arial;
}

#info h3 {
  margin: 1px;
}

#loading {
  color: white;
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#link {
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.panel {
  text-align: center;
  position: fixed;
  width: 300px;
  border: 2px solid #999;
  border-radius: 5px;
  padding: 1em;
  bottom: 20px;
  background: black;
}

.panel .button {
  background: #999;
  border-radius: 5px;
  width: 30%;
  margin-top: 1em;
  padding: .5em;
  font-size: 1.2em;
  text-align: center;
  color: white;
  cursor: pointer;
}

.panel .button:hover{
  background: #eee;
}

.panel .button.active {
  background: #eee;
}

.panel .label {
  margin-top: 1em;
  color: white;
}

.panel .product {
  margin-top: 1em;
  width: 100%;
  font-size: 1.2em;
}

#control-panel {
  height: 150px;
  left: 20px;
}

#info-panel {
  top: 20px;
  right: 20px;
  overflow: auto;
}

#search-result {
  padding: 0;
  max-height: 400px;
  overflow: auto;
  width: 90%;
  position: absolute;
  bottom: 2em;
  background: white;
  list-style-type: none;
  z-index: 1;
}

#search-result li {
  padding: 1em;
  display: block;
  cursor: pointer;
}

#search-result li:hover {
  background: #bbb;
}

.left {
  float: left;
}

.right {
  float: right;
}

.keywords {
  font-size: .8em;
  color: #999;
}
